<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athhx.mapper.CachetMapper">

    <resultMap id="BaseResultMap" type="com.athhx.domain.Cachet">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="deptid" column="deptid" jdbcType="INTEGER"/>
            <result property="adminid" column="adminid" jdbcType="INTEGER"/>
            <result property="typeid" column="typeid" jdbcType="INTEGER"/>
            <result property="usetime" column="usetime" jdbcType="TIMESTAMP"/>
            <result property="lauchtime" column="lauchtime" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="isdelete" column="isdelete" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userid,deptid,
        adminid,typeid,usetime,
        lauchtime,remark,state,
        isdelete
    </sql>
</mapper>
