<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athhx.mapper.DocumentMapper">

    <resultMap id="BaseResultMap" type="com.athhx.domain.Document">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="filerealname" column="filerealname" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="userid" column="userid" jdbcType="INTEGER"/>
            <result property="parentid" column="parentid" jdbcType="INTEGER"/>
            <result property="havechild" column="havechild" jdbcType="INTEGER"/>
            <result property="creattime" column="creattime" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isdelete" column="isdelete" jdbcType="INTEGER"/>
            <result property="deletetime" column="deletetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,filerealname,
        type,userid,parentid,
        havechild,creattime,remark,
        isdelete,deletetime
    </sql>
</mapper>
